In [ ]:
'''Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?'''

In [ ]:
"""MongoDB is built on a scale-out architecture that has become popular with developers of all kinds for developing scalable applications 
with evolving data schemas. As a document database, MongoDB makes it easy for developers to store structured or unstructured data. 
It uses a JSON-like format to store documents."""

In [ ]:
"""Q2. State and Explain the features of MongoDB."""

In [ ]:
"""
1. Support ad hoc queries
2. Indexing
3. Replication
4. Duplication of data
5. Load balancing
6. Supports map reduce and aggregation tools.
7. Uses JavaScript instead of Procedures.
8. It is a schema-less database written in C++.
"""

In [ ]:
'''Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.'''

In [11]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://sairaj:sairaj@cluster0.rbuipio.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [13]:
db

Database(MongoClient(host=['ac-nlbupdb-shard-00-02.rbuipio.mongodb.net:27017', 'ac-nlbupdb-shard-00-01.rbuipio.mongodb.net:27017', 'ac-nlbupdb-shard-00-00.rbuipio.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-q7t6sv-shard-0', tls=True), 'test')

In [14]:
client = pymongo.MongoClient("mongodb+srv://sairaj:sairaj@cluster0.rbuipio.mongodb.net/?retryWrites=true&w=majority")

In [15]:
db = client['assign']

In [ ]:
'''Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.'''

In [16]:
data = [{
    "name" : "sairaj",
    "class" : "Data science"},
{
    "name" : "adi",
    "class" : "Data science1"},
{
    "name" : "anc",
    "class" : "Data science2"},
{
    "name" : "xyz",
    "class" : "Data science3"},
{
    "name" : "ssss",
    "class" : "Data science4"},
{
    "name" : "dadad",
    "class" : "Data science5"}]

In [17]:
collection_assign = db["my_assign_table"]

In [18]:
collection_assign.insert_many(data)

In [19]:
for i in collection_assign.find():
    print(i)

{'_id': ObjectId('63f2ff4f57f79c75a8dc22a6'), 'name': 'sairaj', 'class': 'Data science'}
{'_id': ObjectId('63f2ff4f57f79c75a8dc22a7'), 'name': 'adi', 'class': 'Data science1'}
{'_id': ObjectId('63f2ff4f57f79c75a8dc22a8'), 'name': 'anc', 'class': 'Data science2'}
{'_id': ObjectId('63f2ff4f57f79c75a8dc22a9'), 'name': 'xyz', 'class': 'Data science3'}
{'_id': ObjectId('63f2ff4f57f79c75a8dc22aa'), 'name': 'ssss', 'class': 'Data science4'}
{'_id': ObjectId('63f2ff4f57f79c75a8dc22ab'), 'name': 'dadad', 'class': 'Data science5'}
{'_id': ObjectId('63f3058657f79c75a8dc22ae'), 'name': 'sairaj', 'class': 'Data science'}
{'_id': ObjectId('63f3058657f79c75a8dc22af'), 'name': 'adi', 'class': 'Data science1'}
{'_id': ObjectId('63f3058657f79c75a8dc22b0'), 'name': 'anc', 'class': 'Data science2'}
{'_id': ObjectId('63f3058657f79c75a8dc22b1'), 'name': 'xyz', 'class': 'Data science3'}
{'_id': ObjectId('63f3058657f79c75a8dc22b2'), 'name': 'ssss', 'class': 'Data science4'}
{'_id': ObjectId('63f3058657f79c75a8dc22b3'), 'name': 'dadad', 'class': 'Data science5'}

In [20]:
collection_assign.find_one()

{'_id': ObjectId('63f2ff4f57f79c75a8dc22a6'),
 'name': 'sairaj',
 'class': 'Data science'}

In [ ]:
"""Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this."""

In [ ]:
"""find() method is used to select documents in a collection and return a cursor to the selected documents. Cursor means a pointer that 
points to a document, when we use find() method it returns a pointer on the selected documents and returns one by one"""

In [21]:
for i in collection_assign.find({"name" : "sairaj"}):
    print(i)

{'_id': ObjectId('63f2ff4f57f79c75a8dc22a6'), 'name': 'sairaj', 'class': 'Data science'}
{'_id': ObjectId('63f3058657f79c75a8dc22ae'), 'name': 'sairaj', 'class': 'Data science'}

In [ ]:
"""Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB."""

In [ ]:
"""The sort() method can be used to sort the metadata values for a calculated metadata field"""

In [ ]:
db.collection_assign.find().sort({name : 1})

In [ ]:
"""Q7. Explain why delete_one(), delete_many(), and drop() is used."""

In [ ]:
"""Delete_many() is used when one needs to delete more than one document. A query object containing which document to be deleted is 
created and is passed as the first parameter to the delete_many().

deleteOne() deletes the first document that matches the filter

The drop() method removes the specified row or column"""