In [ ]:
"""Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series."""

In [8]:
import pandas as pd

In [9]:
data = [4,8,15,16,23,42]
series = pd.Series(data)
series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [10]:
type(series)

pandas.core.series.Series

In [ ]:
"""Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it."""

In [11]:
mylist = [1,2,3,4,5,6,7,8,9,10]
series = pd.Series(mylist)
series

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [12]:
data = {"Name":['Alice', 'Bob', 'Claire'],"Age":[25,30,27],"Gender":["Female",'Male','Female']}
df = pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
"""Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example."""

In [ ]:
"""In Pandas, a DataFrame is a two-dimensional tabular data structure that consists of rows and columns. It can be thought of as a spreadsheet or 
SQL table. Each column in a DataFrame is a Pandas Series, which is a one-dimensional labeled array that can hold data of any type 
(numeric, string, boolean, etc.).

The main difference between a Pandas Series and a DataFrame is that a Series has only one column of data with a single label index, whereas a 
DataFrame has multiple columns with a two-dimensional labeled index (rows and columns)."""

In [13]:
import pandas as pd

s = pd.Series([1, 2, 3, 4], name='my_series')

df = pd.DataFrame({'col1': [1, 2, 3, 4],
                   'col2': ['A', 'B', 'C', 'D']})

print(s)
print(df)

0    1
1    2
2    3
3    4
Name: my_series, dtype: int64
   col1 col2
0     1    A
1     2    B
2     3    C
3     4    D

In [ ]:
"""Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?"""

In [ ]:
"""head() and tail(): These functions can be used to preview the first or last few rows of a DataFrame

describe(): This function can be used to generate summary statistics for numerical columns in the DataFrame. 

groupby(): This function can be used to group the data in the DataFrame by one or more columns, and then apply a function to each group. """

In [ ]:
"""Q6. Which of the following is mutable in nature Series, DataFrame, Panel?"""

In [ ]:
"""In Pandas, both Series and DataFrame are mutable objects, which means that you can modify their values after they have been created.
panel is used for 3-dimensional data structure and now has been depreceted"""

In [ ]:
"""Q7. Create a DataFrame using multiple Series. Explain with an example."""

In [14]:
import pandas as pd

names = pd.Series(['Alice', 'Bob', 'Charlie', 'David'])
ages = pd.Series([25, 30, 35, 40])
genders = pd.Series(['F', 'M', 'M', 'M'])

df = pd.DataFrame({
    'name': names,
    'age': ages,
    'gender': genders
})
df

      name  age gender
0    Alice   25      F
1      Bob   30      M
2  Charlie   35      M
3    David   40      M